.place-card {
  margin-bottom: 1.5rem;
}


.kebab-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  z-index: 10;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 20;
  min-width: 120px;
}

.dropdown-btn {
  width: 100%;
  text-align: start;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

.place-info {
  margin-top: auto;
  width: 100%;
}